mixin solution(value = false)
    +b.SECTION.solution#Product
        .container-fix
            .row(style="position: relative;")
                +e.H2.heading #{value.heading}
                .solution__slider.glide
                    .glide__track.solution__track(data-glide-el="track")
                        +e.UL.content(class="glide__slides" id="scrollTrigger")
                            each val, i in value.solutionContent
                                - var className = `_${i}`
                                +e.LI.item(class=className class="glide__slide")
                                    +e.item-wrp
                                        +e.P.title #{val[0]}
                                        +e.P.text #{val[1]}
                                    +picture({
                                        name: `${val[2]}`,
                                        class: "__slider-img"
                                    })
                    +e.custom-bullets(class="slider__bullets glide__bullets" data-glide-el="controls[nav]")
                        each val, index in value.solutionContent
                            +e.custom-bullet(class="slider__bullet glide__bullet" data-glide-dir="=" + index + "")
                +e.fixed
                    +e.fixed-items
                        each val, i in value.solutionContent
                            -
                                var
                                        imageName = val[2]
                            if i <= 2
                                 +picture({
                                     name: imageName,
                                     sm: true,
                                     class: "img-fixed",
                                     modificator: "big",
                                 })
                            else
                                 +picture({
                                     name: imageName,
                                     sm: true,
                                     class: "img-fixed",
                                     modificator: "small",
                                 })
